body.light {
  background: #ece5dd;
  color: black;
}

body.dark {
  background: #121212;
  color: white;
}

.hidden { display: none; }

.card {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

.chat-container {
  width: 380px;
  height: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

body.dark .chat-container {
  background: #1f1f1f;
}

.chat-header {
  padding: 10px;
  background: #075e54;
  color: white;
  display: flex;
  justify-content: space-between;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #e5ddd5;
}

body.dark .chat-messages {
  background: #2b2b2b;
}

.message {
  padding: 8px;
  margin: 6px;
  border-radius: 8px;
  max-width: 70%;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.friend {
  background: white;
}

.chat-input {
  display: flex;
  padding: 8px;
}

.chat-input input {
  flex: 1;
  padding: 6px;
}

.typing {
  font-size: 12px;
  margin-left: 10px;
}
